# List required packages in this file, one per line.
argparse
pandas
nibabel
nipype
nilearn
duecredit
pybids
# tools
pydeface @ git+https://github.com/poldracklab/pydeface.git
# TODO: change vferat to nipy once PR merged.
quickshear @ git+https://github.com/vferat/quickshear.git
nobrainer @ git+https://github.com/neuronets/nobrainer.git